body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.185);

}


header{
    background-color: rgb(145, 205, 169);
    margin: 0;
    display: flex;
    height: 100%;
}

.filtros img{
    width: 30px;
    height: auto;
}
.cuadro-mensaje img{
    width: 50px;
    height: auto;
}


.filtros {
display: flex!important;
justify-content:end!important;
align-items: center!important;
}

.filtros img.flecha{
    filter: brightness(0) invert(1);
}

.bienvenida{
    margin-left: 10%;
    font-style: italic; 
    font-weight: 200;
}

.lashes{
    border-radius: 50px;
}


.cuadro-medio-pago{
  margin-left: 20%;
  
}

.cuadro-medio-pago img{
 
    margin: 10px; /* Espacio entre las imágenes */
    
}

.resumen-compra{
 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  background-color: #eee7e7; 
  
  width: 300px; 
  margin: auto; 
  font-family: "Montserrat", sans-serif; 
}
  


.tarjeta,
.efectivo{
  justify-content: space-between;

}
.underline{
  margin-top: 20px;
    text-decoration: underline;
    padding-right: 5px;
    margin-left: 5%;
    gap: 10px;
    align-items: center;
    display: flex;

   
   
}

.titulares{
    text-align: center;
}
.menu a{
    text-decoration: none;
    color:beige;
    text-shadow: whitesmoke;
    padding: 10px;
    margin-top: auto;
    justify-content: space-around;
    align-items: flex-end;
 }

  nav{
    display: flex;
    justify-content: space-between;
    background-size: contain;
    margin-bottom: 0;
    white-space: nowrap;
  }


    .tags h4{
        margin: 0;
        padding: 0;
    }

  

  .filtros {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;           
    padding: 0 3%;                 
    background-color: #000000da;
    color: aliceblue;
}


.filtro-izquierdo, .filtro-derecho {
    display: flex;                  
    flex-direction: row;           
    gap: 20px;               
      
}

.espaciar-filtro {
    display: flex;
    align-items: center;           
}
  img{
    width: 15%;
    height: auto;
  }



 
  .espaciar-filtro:hover,
   a:hover{ 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);

  }

.ruta-mensajes a{
    text-decoration: none;
}

  footer{
    background-color: rgb(145, 205, 169);
    display: flex;
    gap: 10%;
    padding-left: 15%;
    padding-bottom: 5%;


   
  }

  .social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10%;


  }
  .redes,
  .grow,
  .tienda,
  .ayuda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;




  }

  
  .social a{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    justify-content: space-between;
    display: inline-block;   
    background-position: center;

  }

  .social h2{
    text-align: center;
  }

  .whatsapp{
    background-image: url("whatsapp-logo.png") ;
    background-repeat: no-repeat;
  }

  .facebook{
    background-image: url("facebook-logo.png");
    background-repeat: no-repeat;
  }

  .x{
    background-image: url("x.png");
    background-repeat: no-repeat;
    width: 2.7rem!important;
    height: 2.7rem!important;
  }

  .footer a{
    text-decoration: none;
    color:beige;
    text-shadow: whitesmoke;
  }

